@import url(@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oswald:wght@500;600&family=Outfit:wght@300&display=swap'))

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}
a{
    text-decoration: none;
    color: #fff;
}
header{
    display: flex;
    min-height: 30px;
    background-color: #47A025;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
}

.ttheader{
    text-align: center;
    display: flex;
    font-size: 60px;
    color: #000;
    font-weight: 800;
    justify-content: center;
}

.logo{
    display: inline;
    align-items: center;
}
.logo img{
    height: 150px;
    margin-left: 10px;
    
}

.nav-link{
    color: #000;
    font-weight: 700;
    font-size: 25px;
    display: inline;
}


nav a:hover{
    color: #5E5E5E;
}

    nav ul{
        display: table;
        list-style-type: none;
        width:100%;
    }
    nav li{
        display: table-cell;
        text-align: center
    }
    nav li a{
        color: #fff;
        font-family: sans-serif;
        font-size: 24px;
        padding: 5px;
        text-decoration: none; 
    }

h1{
    text-align: center;
    font-size: 60px ;
    margin-top: 100px;
    color: #fff;
    margin-bottom: 80px;
}

h2{
    text-align: center;
    font-size: 60px ;
    margin-top: 100px;
    color: #fff;
    margin-bottom: 80px;
}

.galeria{
    width: 100%;
    min-height: 500px;
    background-color: #47A025;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    padding: 20px;
    grid-gap: 15px;
}

.item{
    border: 3px solid #5E5E5E;
    background-size: cover;
    background-position: center;
    transition: all 0.9s;
    align-items: center;
    justify-content: center;
}

.item:hover{
    transform: scale(1.15);
    transition: all 0.9s;
}

.item1{ 
    background-image: url(../Archivos/Imagenes/otrasimg/puerta\ ciega\ roble.jpg);
    /* grid-column: 1/2;
    grid-row: 1/3; */
}

.item2{ 
    background-image: url(../Imagenes/carrusel/WhatsApp\ Image\ 2023-03-21\ at\ 16.40.06.jpeg);
    /* grid-column: 2/3;
    grid-row: 1/2; */
}

.item3{ 
    background-image: url(../Imagenes/carrusel/WhatsApp\ Image\ 2023-03-21\ at\ 16.41.03.jpeg);
    /* grid-column: 3/5;
    grid-row: 1/2; */
}

.item4{
    background-image: url(../Archivos/Imagenes/otrasimg/WhatsApp\ Image\ 2022-06-28\ at\ 8.05.34\ PM.jpeg);
    /* grid-column: 2/4;
    grid-row: 2/3; */
}

.item5{ 
background-image: url(../Archivos/Imagenes/otrasimg/Puerta\ Vidriada.jpg);
    /* grid-column: 3/4;
    grid-row: 2/3; */
}

.item6{ 
    background-image: url(../Archivos/Imagenes/otrasimg/WhatsApp\ Image\ 2023-05-04\ at\ 11.13.11.jpeg);
    /* grid-column: 4/5;
    grid-row: 2/3 */
}

.item7{
    background-image: url(../Archivos/Imagenes/otrasimg/WhatsApp\ Image\ 2022-11-03\ at\ 18.49.12.jpeg);
    /* grid-column: 1/2;
    grid: 3/4; */
}

.item8{ 
background-image: url(../Archivos/Imagenes/otrasimg/WhatsApp\ Image\ 2023-03-21\ at\ 16.41.03.jpeg);
    /* grid-column: 3/5;
    grid-row: 3/4; */
}


.sobrenosotros p{
    border: solid #47A025;
    background-color: #47A025;
    font-size: 22px;
    padding: 2%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 55px;
    font-weight: 600;
}

.sobrenosotros h2{
    text-align: center;
    font-size: 60px;
    padding: 23px;
    
}

.needs-validation{
    font-size: 25px;
    text-align: center;
    color: black;
    font-weight: 600;
    background-color: #47A025;
}


.volverIndex{
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
}
.contslide{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #47A025;
}

.carousel-inner{
    width: 1100px;
    height: 500px;
    align-items: center;
    display: flex;
    transition: all 0.9s;
}

.carousel-inner:hover{
    transform: scale(1.15);
    transition: all 0.9s;
    filter:sepia(0.5)
}

.postventa p{
    border: solid #47A025;
    background-color: #47A025;
    font-size: 22px;
    padding: 2%;
    display: flex;
    margin: 8%;
}

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}
footer p{
    margin-bottom: 20px;
    font-size: 25px;
}
footer a{
    color: #47A025;
    font-size: 30px;
    letter-spacing: 15px;
}

@media only screen and (min-width:480px) {
    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .galeria{
        grid-template-columns: repeat(3, 1fr);
        
    }
    .item1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .item2{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .item3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .item4{
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .item5{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .item6{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .item7{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .item8{
        grid-column: 2/4;
        grid-row: 4/5;
    }
}

@media only screen and (min-width: 1024px){
    .galeria{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 300px 300px;
        
    }
    
}